# Replace this placeholder with the correct GitHub username or team.

* @HostessPerFiere
/architecture/ @HostessPerFiere
/specification/ @HostessPerFiere
/contracts/ @HostessPerFiere
/compliance/ @HostessPerFiere
/.github/ @HostessPerFiere
